# /**
#  * JMF Hosting Egg Manager - Game List Configuration
#  * Version: 1.0.0
#  * Last Updated: 04-14-2025
#  *
#  * This configuration file serves as a comprehensive mapping of games to their respective egg paths,
#  * facilitating the management of game server eggs within the Pterodactyl panel. Each entry consists of
#  * a game identifier followed by the path to its corresponding egg configuration file. This allows for
#  * seamless operations such as installation, updating, searching, removal, and resetting of game nests and eggs.
#  *
#  * The configuration is designed to be easily extendable, enabling the addition of new games and their
#  * respective egg paths as needed. Ensure that the paths are accurate and correspond to the correct
#  * egg files to avoid any issues during management operations.
#  *
#  * © 2025 JMFHosting. All Rights Reserved.
#  * Developed by Nanaimo2013 (https://github.com/Nanaimo2013)
#  * Website: https://www.jmfhosting.com
#  * Panel: https://panel.jmfhosting.com
#  */

# Game list configuration
# Format: <game_identifier>:<path_to_egg_configuration>
unturned:games/unity/unturned/egg-unturned.json
terraria:games/terraria/terraria/egg-terraria.json
factorio:games/steamcmd/factorio/egg-factorio.json
fivem:games/gta/fivem/egg-fivem.json
minecraft-bedrock:games/minecraft/bedrock/egg-bedrock.json
garrysmod:games/source/garrysmod/egg-garrysmod.json
squad:games/steamcmd/squad/egg-squad.json
projectzomboid:games/steamcmd/project_zomboid/egg-projectzomboid.json
beamng:games/steamcmd/beamng/egg-beamng.json
ark:games/steamcmd/ark/egg-ark.json
rust:games/steamcmd/rust/egg-rust.json
valheim:games/steamcmd/valheim/egg-valheim.json
seven-days-to-die:games/steamcmd/7dtd/egg-7dtd.json
